.Portfolio {

    margin-top: 87px;
    height: 64vh;
    width: 100%;
    background-image: url(../image/hero2.jpg.webp);
    background-repeat: no-repeat;
}

.Portfolio-content {
    padding: 120px 10px;
}

.Portfolio-content h2 {
    font-size: 70px;
    font-weight: 900;
    color: #000a2d;
    font-family: "Rufina", serif;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.Portfolio-content a {
    color: #ec5b53;
    font-size: 19px;
    text-transform: capitalize;
    text-decoration: none;
}

.Portfolio-content span {
    color: #ec5b53;
}

.Portfolio-content .row {
    margin-top: 11rem;
    margin-bottom: 11rem;
}