.servicess{
  
    margin-top: 87px;
    height: 64vh;
    width: 100%;
    background-image: url(../image/hero2.jpg.webp);
    background-repeat: no-repeat;
}
.servicess-content{
    padding:120px 10px;
}
.servicess-content h2{
    font-size: 70px;
    font-weight: 900;
    color: #000a2d;
    font-family: "Rufina",serif;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.servicess-content a{
color: #ec5b53;
font-size: 19px;
text-transform: capitalize;
text-decoration: none;
}
.servicess-content span{
    color: #ec5b53;
}
@media (max-width:767px) {
    .servicess-content h2{
        font-size: 55px;
    }
}
.services{
    background-image: none;
}
.serv-content .card {
    padding: 60px 0;
    margin-bottom: 30px;
}
